@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Spartan';
    text-align: center;
    user-select: none;
}

input{
    font-family: 'Spartan';
}

#app-container{
    margin: auto;
    width: 450px;
    height: 490px;
    border-radius: 10px 10px 0px 10px;
    box-shadow: 0px 2px 10px rgb(180, 178, 178);
    border: 1px solid black;
}

#options-bar{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid black;
}