@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Spartan';
    text-align: center
}

#app-container{
    margin: auto;
    width: 450px;
    height: 490px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(180, 178, 178);
}

#options-bar{
    height: 40px;
    line-height: 40px;
}

#canvas{
}